<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Luke Rotherfield, Freelance PHP Development, Nottingham{% endblock %}</title>
        
        <script src="http://www.google.com/jsapi" type="text/javascript"></script> 
        <script type="text/javascript">google.load("jquery","1");google.load("jqueryui","1");</script>
        
        {% javascripts "@PortfolioBundle/Resources/public/js/html5shiv.js" output="js/shiv.js"%}
            <!--[if lt IE 9]>
            <script src="{{ asset_url }}" ></script>
            <![endif]-->
        {% endjavascripts %}
            
        {% block head_javascripts %}{% endblock %}    
        
        {% block stylesheets %}
            {% stylesheets "@PortfolioBundle/Resources/public/css/reset.css" output="css/reset.css"%}
                <link href="{{ asset_url }}" rel="stylesheet"  />
            {% endstylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
            {% stylesheets "@PortfolioBundle/Resources/public/css/style.css" output="css/style.css"%}
                <link href="{{ asset_url }}" rel="stylesheet"  />
            {% endstylesheets %}
            {% stylesheets "@PortfolioBundle/Resources/public/css/cloudzoom.css" output="css/cloud.css"%}
                <link href="{{ asset_url }}" rel="stylesheet"  />
            {% endstylesheets %}
        {% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-8515070-4']);
            _gaq.push(['_setDomainName', 'lrotherfield.com']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                {% block header %}
                    <h1>Luke Rotherfield, PHP Freelancer, Nottingham</h1>
                {% endblock %}
                <div class="cb"></div>
                <nav>
                    <ul>
                        <li>
                            <a href="{{ path("frontend_portfolio_index") }}">My work and experience</a>
                        </li>
                        <li>
                            <a href="{{ path("about_me") }}">About me</a>
                        </li>
                        <li>
                            <a href="{{ path("new_contact") }}">Send me a message</a>
                        </li>
                    </ul>
                </nav>
                {# include "PortfolioBundle:Frontend:spidey.html.twig" #}
            </header>            
            <section class="body">
                {% block body %}{% endblock %}
                <div class="cb"></div>
            </section>            
            <dfooter class="footer">
                {% block footer %}{% endblock %}
                <div class="cb"></div>
            </footer>            
            <div class="cb"></div>
        </div>
        <script>
            {% block javascripts %}{% endblock %}
        </script>
    </body>
</html>
