{% extends "PortfolioBundle::layout.html.twig" %}
{% block body %}
    {{parent()}}
    <div id='portfolio'>
        <ul class='list'>
            {% for entity in entities %}
                <li class="link {% if loop.index == 1 %}active{% endif %}" data-desc="{{ entity.reference }}" style="background:#{{ entity.colour ? entity.colour : 'FFF' }};border:solid 2px #{{ entity.border ? entity.border : 'FFF' }};">	
                        {{ entity.name }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="descriptions">
        {% for entity in entities %}
            <div class="{{ entity.reference }} {% if loop.index == 1 %}show{% endif %}">	
                <h2>{{ entity.title }}</h2>
                {{ entity.excerpt|raw }}
                <p>
                    <a href="{{ path("frontend_portfolio_show", { "link": entity.link }) }}">Full {{ entity.name }} description</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    $(document).ready(function(){
        $('li.link').click(function(){
            $('li.link').removeClass("active")
            var desc = $(this).addClass("active").data('desc');
            $('div.descriptions div').removeClass("show");
            $('div.descriptions div.'+desc).addClass("show");
        })
    });
{% endblock %}
