{% extends "PortfolioBundle::layout.html.twig" %}
{% block body %}
    {{parent()}}
<h2 style="background:#{{ entity.colour ? entity.colour : 'FFF' }};border:solid 2px #{{ entity.border ? entity.border : 'FFF' }};">{{ entity.title }}</h2>
<div class="full_description">
    {{entity.description|raw}}
    <p><a class="big_link" href="{{ path("frontend_portfolio_index") }}">Back to portfolio index</a></p>
</div>
{% if entity.partial != 'none' %}
  {% include "PortfolioBundle:Portfolio:"~entity.partial %}
{% endif %}
{% endblock %}
{% block head_javascripts %}
  {{parent()}}
    {% javascripts "@PortfolioBundle/Resources/public/js/cloud-zoom.js" output="js/cloud.js"%}
        <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}