{% extends "PortfolioBundle::layout.html.twig" %}
{% block header %}
    {{parent()}}
    <h2>- {{ portfolio.title }}</h2>
{% endblock %}
{% block body %}
    {{parent()}}
<div>
    <p><a href="{{ path("frontend_portfolio_index") }}">Back to portfolio index</a></p>
    {{portfolio.description|raw}}
    <p><a href="{{ path("frontend_portfolio_index") }}">Back to portfolio index</a></p>
</div>
{% endblock %}
