{% extends "::base.html.twig" %}
{% block body %}
  {{parent()}}
<h1>Portfolio edit</h1>

<form action="{{ path('portfolio_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('portfolio') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('portfolio_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
{% block head_javascripts %}
  {{parent()}}
{% javascripts "@PortfolioBundle/Resources/public/js/colour.min.js" output="js/colour.js"%}
   <script src="{{ asset_url }}" ></script>
{% endjavascripts %}
{% endblock %}
{% block javascripts %}
  {{parent()}}
$('input#portfoliotype_colour, input#portfoliotype_border').ColorPicker({
	onSubmit: function(hsb, hex, rgb, el) {
		$(el).val(hex);
		$(el).ColorPickerHide();
	},
	onBeforeShow: function () {
		$(this).ColorPickerSetColor(this.value);
	}
})
.bind('keyup', function(){
	$(this).ColorPickerSetColor(this.value);
});    
{% endblock %}
   
{% block stylesheets %}
  {{parent()}}
   {% stylesheets "@PortfolioBundle/Resources/public/css/colourpicker.css" output="css/colourpicker.css"%}
      <link href="{{ asset_url }}" rel="stylesheet"  />
   {% endstylesheets %}
{% endblock %}
